@using TestTask1.Models.ViewModels
@model OrderViewModel
@{
    ViewData["Title"] = "AllCalculator";
}

<h1>Расчитать Стоимость</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AllCalculator">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="SurName" class="control-label"></label>
                    <input asp-for="SurName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FirstPlace" class="control-label"></label>
                    <input asp-for="FirstPlace" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="LastPlace" class="control-label"></label>
                    <input asp-for="LastPlace" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                </div>
                 <div class="form-group">
                    <input type="submit" value="Расчитать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
<h1>@Model</h1>

